.about-header_img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.about-rooms {
  display: flex;
  flex-direction: column;
}

.room-type {
  margin: 0 0.1rem;
}

.about-rooms_img {
  width: 100%;
  height: 50%;
  min-width: 15rem;
}

.book_important-documents {
  a {
    display: flex;
    align-items: center;
    color: $brunswick-green;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 1rem 2rem;
    }
  }

  .book_important-documents_pdf-icon {
    width: 5rem;
    height: auto;
  }
}

@media (min-width: 600px) {
  .about-rooms {
    display: flex;
    flex-direction: row;

    section {
      margin: 0.2rem;
    }
  }

  .room-type {
    width: 50%;
  }
}
